* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-bottom: 50px;
  overflow: 'overlay';
}

* {
  scrollbar-color: #eee transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-thumb:hover,
:hover::-webkit-scrollbar-thumb {
  background: #e5e5e5;
}
