* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: transparent !important;
  background: none transparent !important;
}

::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 0 8px;
}
