/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  /* color: white; */
  height: 100vh;
  font-family: sans-serif;
  /* padding-top: 32px; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  // padding: 36px 12px 0;
}

.header {
  height: 36px;
  margin: 0;
  width: 100%;
  // padding-left: 80px;
  -webkit-app-region: drag;

  // &:not(:first-child) {
  //   margin-left: 12;
  // }

  // [data-platform='windows'] & {
  //   padding-left: 0;
  // }
}

.main {
  padding: 0 12px 0;
  overflow: overlay;
  flex: 1;
}

* {
  scrollbar-color: #eee transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-thumb:hover,
:hover::-webkit-scrollbar-thumb {
  background: #e5e5e5;
}
